body {
    background-color: black;
    background-image: url("images/img1.jpg");
    background-size: 1365px;
}

.linusquote {
    color: white;
    position: absolute;
    width: 800px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -400px;
    text-shadow: 2px 2px 4px #000000;
}

p {
    font-family: asap, sans-serif;
    font-size: 55px;
}

footer {
    margin-top: -40px;
    font-size: 20px;
}